body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background-color: #fff;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.apple-main {
  padding: 0px !important;
}

.user-info-userName {
  text-align: center;
  margin-top: 15px
}

.user-info-fullInfo {
  label {
    line-height: 1.5;
  }
}

.carousel-img {
  display: inline-block;
  height: 300px;
  width: 100%;
}
